<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>칵테일 검색</title>
  <link rel="stylesheet" href="/css/search1.css">
</head>
<body>
<div class="navbar">
  <a href="/main">만 개의 칵테일</a>
  <div>
    <a href="/popular">인기 칵테일</a>
    <a href="#">추천 칵테일</a>
    <a href="/search">칵테일 검색</a>
    <a href="user.html">
      <img src="/images/line.png">
    </a>
  </div>
</div>

<div class="container">
  <form id="searchForm" action="/search/cocktailresults" method="post">
    <div class="search-container">
      <input type="text" class="search-input" name="userInput" placeholder="검색어를 입력해주세요" required>
      <button class="search-button">Search</button>
    </div>
  </form>
</div>

<div class="container">
  <br><br>
  <div class="main-text">당신의 칵테일을 찾아보세요!</div>

  <br>
  <div class="text">#마티니</div>
  <div class="text">#김렛</div>
  <div class="text">#모히또</div>
  <div class="text">#마가리타</div>
  <div class="text">#바카디</div>

</div>

</body>
</html>