body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.navbar a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-weight: bold;
}


.main-text {
  background-color: #dddddd;
  color: #000000;
  text-align: center;
  padding: 10px 40px;
  font-size: 30px;
  width: 50%;
  height: 40px;
  outline: none;
  border: 0;
  border-radius: 15px;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
}

#searchForm{
  width: 100%;
  max-width: 1200px;
}

.search-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcd62c;
  padding: 50px 0;
  margin: 0 auto; /* 부모 요소 기준 중앙 정렬 */
}

.search-input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8); /* 밝은 흰색 텍스트 */
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: rgba(62, 62, 62, 0.58);
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.8); /* 밝은 흰색 텍스트 */
  font-style: italic;
  opacity: 1; /* 텍스트 불투명도 설정 */
}

.search-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

.text {
  background-color: #dddddd;
  color: #000000;
  text-align: left; /* 왼쪽 정렬 */
  padding: 7px 15px;
  font-size: 15px;
  width: auto; /* 텍스트 크기에 맞춰 너비 조정 */
  height: 26px;
  outline: none;
  border: 0;
  border-radius: 15px;
  margin: 5px 0;
  display: inline-block; /* 텍스트가 왼쪽에 정렬되도록 조정 */
}
